<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>Your website monitor</header>
    <form action="/" method="post">
        <input type="email" name="email" placeholder="Email address to send mail to.." required>
        <input type="text" name="url" placeholder="url of website to track" required>
        <button type="submit">Track</button>
    </form>
</body>
</html>